# Project exclude paths
/eureka-server/target/
/core-comm/target/
/oauth2-service/target/
/customer-service/target
/driver-service/target
/core-comm.iml
/customer-service.iml
/.idea
/car-service/target
/driver-location-service/target
/apache-kafka-example/target
/rabbitmq-example/target
/zull-proxy/target
/.vscode