# Project exclude paths
/eureka-server/target/
/core-comm/target/
/oauth2-service/target/
/customer-service/target
/driver-service/target
/core-comm.iml
/customer-service.iml
/.idea
/car-service/target
/driver-location-service/target
/apache-kafka-example/target
/rabbitmq-example/target
/zull-proxy/target
/.vscode
/oauth2-service/auth-service-ui.iml
/driver-location-service/untitled.iml
/wallet-service/target/
/api-gateway/target/
/carrier-service/target/
/circuit-breaker/target/
/circuit-breaker-example/target/
/config-server/target/
/driver-location-service/target/
/payment-service/target/
/rating-service/target/
/.idea/
/.run/
/.vscode/
/config-server/target/
